/* HTML: <div class="loader"></div> */

.loader-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 48px;

  .loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #fae9e4;
    border-right-color: #fece51;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {
    to {
      transform: rotate(1turn);
    }
  }
}
